<% if(infoFailed.length>0) { %>
    <div class="alert alert-danger" role="alert">
        <%= infoFailed %>
    </div>
    <% } %>
        <% if(infoSuccess.length>0) { %>
            <div class="alert alert-success" role="alert">
                <%= infoSuccess %>
            </div>
            <% } %>